body{
    background-image: url(fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.nav-link{
    color: snow;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
nav{
    background-color: rgba(184, 206, 255, 0.726);
    margin-right: 12px;
    margin-left: 12px;
}
.navbar-brand img{
    max-width: 120px;
}
h1{
text-align: center;
font-family:Brush Script MT, Brush Script Std, cursive;
font-size: 800%;
}
.shop{
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
    color: slategrey;
}
.shop:hover{
    color: silver;
    font-size: 2.25rem;
}
.oferta{
    background-color: rgba(20, 20, 77, 0.918);
}
h2{
    font-family: DejaVu Sans Mono, monospace;
    color: white;
    font-size: 3rem;
}
.oferta{
    margin: 0px;
}
h3{
    font-family: DejaVu Sans Mono, monospace;
    color: white;
    font-size: 2.5rem;
}
.col{
    margin: 10px;
}
.card{
    background-color: rgba(255, 255, 255, 0) ;
    max-width: 70%; 
}
.card-body h5{
    color: white;
    font-weight: normal;
    font-family: DejaVu Sans Mono, monospace;
    text-align: center;
}
.card-body p{
    color: white;
    font-weight: 100;
    font-family: DejaVu Sans Mono, monospace;
    text-align: center;
}
.sobrenosotros{
    background-image: url(fondocuarzo.jpg);
}
h6{
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;
}
.presentacion{
    width: 40%;
    margin: 15px;
}
h7{
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
}
.contacto{
    background-color: rgb(46, 46, 46);
}
h8{
    color: white;
    font-size: 3rem;
    font-family: Arial Narrow, sans-serif;
}
.col p{
    color: white;
}
h9{
    color: white;
    font-size: 1.5rem;
    font-family: Arial Narrow, sans-serif;
    }